body {
    background-color: #E8F7F9;
}
h1 {
    color: #10506C;
    font-family: Papyrus, fantasy;
    margin-top: 5%;
    margin-bottom: 2%;
}

h2 {
    color: #10506C;
    font-family: Papyrus, fantasy;
}

h3 {
    color: #000000;
    font-family: Papyrus, fantasy;
}

p {
    color: #000000;
    font-family: Arial, Helvectica, sans-serif;
}

ol {
    color: #000000;
    font-family: Arial, Helvectica, sans-serif;
    list-style-position: inside;
}

.logo {
    width: 25px;
    height: 25px;
    transition: width 4s, height 4s;
    height: 75px;
}

.howtovideo {
    width: auto;
    height: 400px;
    box-shadow: 2px 2px 2px 2px #b7bfc0;
}
.videopadding{
    padding-left: 150px;
}

#footer {
    font-size: 12px;
    background-color: #EDEDED;
    margin-top: 3%;
} 